---
layout: default
title: Home
---

{% include header.html %}

<main class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {% for post in site.posts %}
            <article class="post-card">
                <div class="post-card-content">
                    <a class="post-card-content-link" href="{{ post.url | relative_url }}">
                        <header class="post-card-header">
                            {% if post.tags.size > 0 %}
                            <span class="post-card-tags">{{ post.tags | first }}</span>
                            {% endif %}
                            <h2 class="post-card-title">{{ post.title }}</h2>
                        </header>
                        <section class="post-card-excerpt">
                            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
                        </section>
                    </a>
                    <footer class="post-card-meta">
                        <span class="reading-time">{{ post.content | number_of_words | divided_by: 200 | plus: 1 }} min read</span>
                    </footer>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</main>