<header class="site-header outer">
    <div class="hero-bg">
        {% include hero-bg.svg %}
    </div>
    <div class="inner">
        <nav class="site-nav">
            <div class="site-nav-left">
                <h1 class="site-title"><a href="{{ site.baseurl }}/" class="site-nav-logo">{{ site.title }}</a></h1>
            </div>
            <div class="site-nav-right">
                <div class="social-links">
                    <a href="https://twitter.com/sabbour" title="X (Twitter)" target="_blank" rel="noopener"><i class="fab fa-x-twitter fa-lg"></i></a>
                    <a href="https://linkedin.com/in/ahmedsabbour" title="LinkedIn" target="_blank" rel="noopener"><i class="fab fa-linkedin fa-lg"></i></a>
                    <a href="https://github.com/sabbour" title="GitHub" target="_blank" rel="noopener"><i class="fab fa-github fa-lg"></i></a>
                    <a href="https://stackoverflow.com/users/47582/sabbour" title="StackOverflow" target="_blank" rel="noopener"><i class="fab fa-stack-overflow fa-lg"></i></a>
                </div>
            </div>
        </nav>
        <div class="site-header-content">
            <h2 class="site-description">{{ site.author }}</h2>
            <p class="site-disclaimer">{{ site.description }}</p>
        </div>
    </div>
</header>
