<header class="site-header outer">
    <div class="hero-bg">
        {% include hero-bg.svg %}
    </div>
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">{{ site.title }}</h1>
            <h2 class="site-description">{{ site.author }}</h2>
            <p class="site-disclaimer">{{ site.description }}</p>
        </div>
        <nav class="site-nav">
            <div class="social-links">
                <a href="https://twitter.com/sabbour" title="Twitter"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://linkedin.com/in/ahmedsabbour" title="LinkedIn"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="https://github.com/sabbour" title="GitHub"><i class="fab fa-github fa-lg"></i></a>
                <a href="https://stackoverflow.com/users/47582/sabbour" title="StackOverflow"><i class="fab fa-stack-overflow fa-lg"></i></a>
            </div>
        </nav>
    </div>
</header>